.navbar{
    padding-top: .8rem;
    padding-bottom: 1.2rem;
}

.navbar a:visited{
    color: #5755d9;
}

.sidebar-button-list {
    padding: .4rem;
}

.off-canvas .off-canvas-toggle {
    top: -.65rem;
}

.method-picker button{
    display: block;
    width: 100%;
}

.length-picker{
    margin-top: 1rem;
}

.password-refresh {
    margin-top: 1.5rem;
}

.password-list li{
    padding-bottom: .15rem;
}

.clipboard-alert {
    position: sticky;
    margin-top: 1rem;
    bottom: 30px;
    width: 100%;
}

.clipboard-alert span{
    padding-left: 1rem;
}

.verticle-btn-grp .btn:not(:first-child):not(:last-child){
    border-radius: 0;
    margin-top: -.05rem;
}
.verticle-btn-grp .btn:last-child:not(:first-child){
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-top: -.05rem;
}

.verticle-btn-grp .btn:first-child:not(:last-child){
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

}